In [45]:
import pandas as pd
import numpy as np
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
#df = pd.read_csv('fhvhv_tripdata_2021-01.csv')

In [3]:
#for i in range(1,3):
    #df = pd.read_csv('fhvhv_tripdata_2021-0' + str(i) + '.csv')
   # uber = df.loc[df['hvfhs_license_num'] == 'HV0003']

In [4]:
df = pd.read_csv('fhvhv_tripdata_2021-01.csv')

In [5]:
uber = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber['Date'] = pd.to_datetime(uber['pickup_datetime']).dt.normalize()
uber = uber[['hvfhs_license_num','Date']]
uber = uber.groupby('Date').count()
uber

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/1686430084.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber['Date'] = pd.to_datetime(uber['pickup_datetime']).dt.normalize()

            hvfhs_license_num
Date
2021-01-01             292152
2021-01-02             233798
2021-01-03             209037
2021-01-04             236125
2021-01-05             248477
2021-01-06             262435
2021-01-07             270834
2021-01-08             308069
2021-01-09             313405
2021-01-10             254507
2021-01-11             253986
2021-01-12             266325
2021-01-13             272467
2021-01-14             280755
2021-01-15             329024
2021-01-16             308459
2021-01-17             268610
2021-01-18             237624
2021-01-19             250929
2021-01-20             274685
2021-01-21             283267
2021-01-22             320669
2021-01-23             333287
2021-01-24             274334
2021-01-25             260857
2021-01-26             276465
2021-01-27             284300
2021-01-28             306781
2021-01-29             365993
2021-01-30             340945
2021-01-31             285527

In [6]:
df = pd.read_csv('fhvhv_tripdata_2021-02.csv')
uber2 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber2['Date'] = pd.to_datetime(uber2['pickup_datetime']).dt.normalize()
uber2 = uber2[['hvfhs_license_num','Date']]
uber2 = uber2.groupby('Date').count()
uber = uber.append(uber2)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/2389024071.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber2['Date'] = pd.to_datetime(uber2['pickup_datetime']).dt.normalize()

In [7]:
df = pd.read_csv('fhvhv_tripdata_2021-03.csv')
uber3 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber3['Date'] = pd.to_datetime(uber3['pickup_datetime']).dt.normalize()
uber3 = uber3[['hvfhs_license_num','Date']]
uber3 = uber3.groupby('Date').count()
uber = uber.append(uber3)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/3767508356.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber3['Date'] = pd.to_datetime(uber3['pickup_datetime']).dt.normalize()

In [8]:
df = pd.read_csv('fhvhv_tripdata_2021-04.csv')
uber4 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber4['Date'] = pd.to_datetime(uber4['pickup_datetime']).dt.normalize()
uber4 = uber4[['hvfhs_license_num','Date']]
uber4 = uber4.groupby('Date').count()
uber = uber.append(uber4)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/2227784134.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber4['Date'] = pd.to_datetime(uber4['pickup_datetime']).dt.normalize()

In [9]:
df = pd.read_csv('fhvhv_tripdata_2021-05.csv')
uber5 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber5['Date'] = pd.to_datetime(uber5['pickup_datetime']).dt.normalize()
uber5 = uber5[['hvfhs_license_num','Date']]
uber5 = uber5.groupby('Date').count()
uber = uber.append(uber5)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/2987526177.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber5['Date'] = pd.to_datetime(uber5['pickup_datetime']).dt.normalize()

In [10]:
df = pd.read_csv('fhvhv_tripdata_2021-06.csv')
uber6 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber6['Date'] = pd.to_datetime(uber6['pickup_datetime']).dt.normalize()
uber6 = uber6[['hvfhs_license_num','Date']]
uber6 = uber6.groupby('Date').count()
uber = uber.append(uber6)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/239433916.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber6['Date'] = pd.to_datetime(uber6['pickup_datetime']).dt.normalize()

In [11]:
df = pd.read_csv('fhvhv_tripdata_2021-07.csv')
uber7 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber7['Date'] = pd.to_datetime(uber7['pickup_datetime']).dt.normalize()
uber7 = uber7[['hvfhs_license_num','Date']]
uber7 = uber7.groupby('Date').count()
uber = uber.append(uber7)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/1330296760.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber7['Date'] = pd.to_datetime(uber7['pickup_datetime']).dt.normalize()

In [12]:
df = pd.read_csv('fhvhv_tripdata_2021-08.csv')
uber8 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber8['Date'] = pd.to_datetime(uber8['pickup_datetime']).dt.normalize()
uber8 = uber8[['hvfhs_license_num','Date']]
uber8 = uber8.groupby('Date').count()
uber = uber.append(uber8)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/4278670661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber8['Date'] = pd.to_datetime(uber8['pickup_datetime']).dt.normalize()

In [13]:
df = pd.read_csv('fhvhv_tripdata_2021-09.csv')
uber9 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber9['Date'] = pd.to_datetime(uber9['pickup_datetime']).dt.normalize()
uber9 = uber9[['hvfhs_license_num','Date']]
uber9 = uber9.groupby('Date').count()
uber = uber.append(uber9)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/2118650980.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber9['Date'] = pd.to_datetime(uber9['pickup_datetime']).dt.normalize()

In [14]:
df = pd.read_csv('fhvhv_tripdata_2021-10.csv')
uber10 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber10['Date'] = pd.to_datetime(uber10['pickup_datetime']).dt.normalize()
uber10 = uber10[['hvfhs_license_num','Date']]
uber10 = uber10.groupby('Date').count()
uber = uber.append(uber10)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/3401125142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber10['Date'] = pd.to_datetime(uber10['pickup_datetime']).dt.normalize()

In [15]:
df = pd.read_csv('fhvhv_tripdata_2021-11.csv')
uber11 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber11['Date'] = pd.to_datetime(uber11['pickup_datetime']).dt.normalize()
uber11 = uber11[['hvfhs_license_num','Date']]
uber11 = uber11.groupby('Date').count()
uber = uber.append(uber11)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/3547765648.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber11['Date'] = pd.to_datetime(uber11['pickup_datetime']).dt.normalize()

In [16]:
df = pd.read_csv('fhvhv_tripdata_2021-12.csv')
uber12 = df.loc[df['hvfhs_license_num'] == 'HV0003']
uber12['Date'] = pd.to_datetime(uber12['pickup_datetime']).dt.normalize()
uber12 = uber12[['hvfhs_license_num','Date']]
uber12 = uber12.groupby('Date').count()
uber = uber.append(uber12)

/var/folders/p2/l2wbqcq54y92ss289mtwsn3r0000gn/T/ipykernel_32712/4279129610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber12['Date'] = pd.to_datetime(uber12['pickup_datetime']).dt.normalize()

In [17]:
uber

            hvfhs_license_num
Date
2021-01-01             292152
2021-01-02             233798
2021-01-03             209037
2021-01-04             236125
2021-01-05             248477
...                       ...
2021-12-27             269241
2021-12-28             269544
2021-12-29             284516
2021-12-30             310203
2021-12-31             359427

[365 rows x 1 columns]

In [18]:
covid = pd.read_csv('COVID-19_Daily_Counts_of_Cases__Hospitalizations__and_Deaths.csv')

In [19]:
covid

,DATE_OF_INTEREST,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,04/22/2022,1538,519,76,5,0,1620,2081,52,3,...,37,8,0,0,109,138,5,0,0,60790
784,04/23/2022,1136,499,45,2,0,1614,2097,53,3,...,22,3,0,0,108,138,5,0,0,60790
785,04/24/2022,1195,528,39,4,0,1656,2168,52,3,...,40,1,1,0,117,151,5,0,0,60790
786,04/25/2022,2281,846,21,2,1,1688,2244,47,3,...,40,4,0,0,118,153,5,0,0,60790
787,04/26/2022,2161,641,0,1,3,1706,2281,40,3,...,40,0,0,1,127,162,4,0,0,60790

In [20]:
covid['Date'] = pd.to_datetime(covid['DATE_OF_INTEREST']).dt.normalize()
date = covid.merge(uber, on='Date', how='inner')
date = date[['Date','hvfhs_license_num','CASE_COUNT']]

In [21]:
date

          Date  hvfhs_license_num  CASE_COUNT
0   2021-01-01             292152        1340
1   2021-01-02             233798        4202
2   2021-01-03             209037        3464
3   2021-01-04             236125        6604
4   2021-01-05             248477        6156
..         ...                ...         ...
360 2021-12-27             269241       51154
361 2021-12-28             269544       49393
362 2021-12-29             284516       50364
363 2021-12-30             310203       47073
364 2021-12-31             359427       29010

[365 rows x 3 columns]

In [22]:
weather = pd.read_csv('2962063.csv')

In [23]:
weather.head()

,STATION,NAME,DATE,PRCP,SNOW,SNWD,WT01,WT02,WT03,WT04,WT05,WT06,WT08
0,USW00094728,"NY CITY CENTRAL PARK, NY US",2021-01-01,0.62,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00094728,"NY CITY CENTRAL PARK, NY US",2021-01-02,0.05,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00094728,"NY CITY CENTRAL PARK, NY US",2021-01-03,0.22,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00094728,"NY CITY CENTRAL PARK, NY US",2021-01-04,0.02,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00094728,"NY CITY CENTRAL PARK, NY US",2021-01-05,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
weather['Date'] = pd.to_datetime(weather['DATE']).dt.normalize()

In [25]:
date = date.merge(weather, on='Date', how='inner')
date = date[['Date','hvfhs_license_num','CASE_COUNT','PRCP']]

In [26]:
date

          Date  hvfhs_license_num  CASE_COUNT  PRCP
0   2021-01-01             292152        1340  0.62
1   2021-01-02             233798        4202  0.05
2   2021-01-03             209037        3464  0.22
3   2021-01-04             236125        6604  0.02
4   2021-01-05             248477        6156  0.00
..         ...                ...         ...   ...
360 2021-12-27             269241       51154  0.09
361 2021-12-28             269544       49393  0.05
362 2021-12-29             284516       50364  0.14
363 2021-12-30             310203       47073  0.05
364 2021-12-31             359427       29010  0.00

[365 rows x 4 columns]

In [27]:
date['day_of_week'] = date['Date'].dt.strftime('%A')

In [28]:
date

          Date  hvfhs_license_num  CASE_COUNT  PRCP day_of_week
0   2021-01-01             292152        1340  0.62      Friday
1   2021-01-02             233798        4202  0.05    Saturday
2   2021-01-03             209037        3464  0.22      Sunday
3   2021-01-04             236125        6604  0.02      Monday
4   2021-01-05             248477        6156  0.00     Tuesday
..         ...                ...         ...   ...         ...
360 2021-12-27             269241       51154  0.09      Monday
361 2021-12-28             269544       49393  0.05     Tuesday
362 2021-12-29             284516       50364  0.14   Wednesday
363 2021-12-30             310203       47073  0.05    Thursday
364 2021-12-31             359427       29010  0.00      Friday

[365 rows x 5 columns]

In [29]:
cal = calendar()
holidays = cal.holidays(start='2021-01-01', end='2021-12-31')

date['Holiday'] = date['Date'].isin(holidays)

In [30]:
is_weekend = []
for i in range(len(date)):
    if date['day_of_week'].iloc[i] == 'Saturday' or date['day_of_week'].iloc[i] == 'Sunday':
        is_weekend.append(1)
    else:
        is_weekend.append(0)
date['is_weekend']=is_weekend

In [31]:
date

,Date,hvfhs_license_num,CASE_COUNT,PRCP,day_of_week,Holiday,is_weekend
0,2021-01-01,292152,1340,0.62,Friday,True,0
1,2021-01-02,233798,4202,0.05,Saturday,False,1
2,2021-01-03,209037,3464,0.22,Sunday,False,1
3,2021-01-04,236125,6604,0.02,Monday,False,0
4,2021-01-05,248477,6156,0.00,Tuesday,False,0
...,...,...,...,...,...,...,...
360,2021-12-27,269241,51154,0.09,Monday,False,0
361,2021-12-28,269544,49393,0.05,Tuesday,False,0
362,2021-12-29,284516,50364,0.14,Wednesday,False,0
363,2021-12-30,310203,47073,0.05,Thursday,False,0
364,2021-12-31,359427,29010,0.00,Friday,True,0

In [32]:
is_holiday = []
for i in range(len(date)):
    if date['Holiday'].iloc[i] == True:
        is_holiday.append(1)
    else:
        is_holiday.append(0)
date['is_holiday']=is_holiday
#is_holiday

In [55]:
date = date.rename(columns={'hvfhs_license_num': 'Number_of_Trips', 
                            'CASE_COUNT': 'COVID_Cases',
                            'PRCP': 'Precipitation',
                            'is_weekend': 'Weekend',
                            'is_holiday': 'Holiday'})

In [56]:
date

          Date  Number of Trips  COVID Cases  Precipitation  Weekend  Holiday
0   2021-01-01           292152         1340           0.62        0        1
1   2021-01-02           233798         4202           0.05        1        0
2   2021-01-03           209037         3464           0.22        1        0
3   2021-01-04           236125         6604           0.02        0        0
4   2021-01-05           248477         6156           0.00        0        0
..         ...              ...          ...            ...      ...      ...
360 2021-12-27           269241        51154           0.09        0        0
361 2021-12-28           269544        49393           0.05        0        0
362 2021-12-29           284516        50364           0.14        0        0
363 2021-12-30           310203        47073           0.05        0        0
364 2021-12-31           359427        29010           0.00        0        1

[365 rows x 6 columns]

In [57]:
date = date[['Date','Number of Trips','COVID Cases','Precipitation','Weekend','Holiday']]
y = date['Number of Trips']
features = date[date.columns[2:]]
#x = sm.add_constant(features)
model = sm.OLS(y,features).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:        Number of Trips   R-squared (uncentered):                   0.464
Model:                            OLS   Adj. R-squared (uncentered):              0.458
Method:                 Least Squares   F-statistic:                              78.25
Date:                Mon, 02 May 2022   Prob (F-statistic):                    9.69e-48
Time:                        19:03:54   Log-Likelihood:                         -5063.7
No. Observations:                 365   AIC:                                  1.014e+04
Df Residuals:                     361   BIC:                                  1.015e+04
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
COVID Cases      14.7249      1.967      7.486      0.000      10.857      18.593
Precipitation  1.044e+05   2.34e+04      4.458      0.000    5.83e+04     1.5e+05
Weekend        3.319e+05   2.57e+04     12.892      0.000    2.81e+05    3.83e+05
Holiday        2.224e+05   7.84e+04      2.836      0.005    6.82e+04    3.77e+05
==============================================================================
Omnibus:                       74.189   Durbin-Watson:                   0.449
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              122.200
Skew:                          -1.198   Prob(JB):                     2.91e-27
Kurtosis:                       4.516   Cond. No.                     4.06e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 4.06e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [74]:
date = date.rename(columns={'Number of Trips': 'Number_of_Trips', 
                            'COVID Cases': 'COVID_Cases',
                            'Precipitation': 'Precipitation',
                            'Weekend': 'Weekend',
                            'Holiday': 'Holiday'})
date

,Date,Number_of_Trips,COVID_Cases,Precipitation,Weekend,Holiday,log_covid,log_Precipitation
0,2021-01-01,292152,1340,0.62,0,1,7.200425,-0.478036
1,2021-01-02,233798,4202,0.05,1,0,8.343316,-2.995732
2,2021-01-03,209037,3464,0.22,1,0,8.150179,-1.514128
3,2021-01-04,236125,6604,0.02,0,0,8.795431,-3.912023
4,2021-01-05,248477,6156,0.00,0,0,8.725182,-inf
...,...,...,...,...,...,...,...,...
360,2021-12-27,269241,51154,0.09,0,0,10.842596,-2.407946
361,2021-12-28,269544,49393,0.05,0,0,10.807564,-2.995732
362,2021-12-29,284516,50364,0.14,0,0,10.827032,-1.966113
363,2021-12-30,310203,47073,0.05,0,0,10.759455,-2.995732
364,2021-12-31,359427,29010,0.00,0,1,10.275396,-inf